{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет Product -->

<html>

  <meta charset="utf-8">

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<!--<h1>{{ news }}</h1>-->
   <h2> {{ news.title|censor }} </h2>
<!--   <h3>{{ time_now|date:'M d Y' }}</h3>-->
   <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
<!--   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>-->

   <hr>
   {% if news %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
        <h4>{{ news.text|censor }}</h4>

        <h4>{{news.dateCreation|date:'d M Y'}}</h4>

        <p class="text-center"><a href="{% url 'like_news' news.id %}" class="btn btn-secondary btn-sm">❤ {{ count }}</a></p>
        <p class="text-center"><a href="{% url 'comment_news' news.id %}" class="btn btn-secondary btn-sm">Оставить коментарий</a></p>
        <ul class="list-group-flush">
            {% for comments in comment %}
                {% if request.user == comments.commentUser %}
                    <p>{{ comments.commentUser.first_name }} {{ comments.commentUser.last_name }}: <em>{{ comments.text|censor }}</em>
                        <a href="{% url 'delete_comment' comments.id %}" class="btn btn-secondary btn-sm">🗑️</a>
                    </p>
                {% else %}
                    <p>{{ comments.commentUser.first_name }} {{ comments.commentUser.last_name }}: <em>{{ comments.text|censor }}</em> </p>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
       <h2>Новостей нет, но вы держитесь!</h2>
   {% endif %}

    <footer><a href="https://www.ya.ru" target="_blank" title="я">Яндекс</a></footer>

{% endblock content %}